.container {
  background-color: rgb(58, 85, 205);
  max-width: 80%;
  padding: 20px;
  margin: 0 auto;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type='text'] {
  flex: 1;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
}

button {
  color: blue;
  background-color: (63, 147, 242);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all ease;
}
button:hover {
  background-color: rgb(63, 147, 242);
}
