* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 3%;
  background-color: transparent;
}
