body {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  background-color: rgb(110, 146, 219);
  color: white;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgb(75, 129, 200);
  box-shadow: 0 2px 4px rgb(34, 32, 32);
}

h1,
h2,
p {
  color: white;
}

input[type='text'] {
  padding: 10px;
  font-size: 16px;
  width: 70%;
}
button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: rgb(28, 137, 137);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#responseData {
  margin-top: 20px;
  font-size: 18px;
}
